body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #1f1f1f;
    background-color: rgb(255, 214, 224);
}
article {
    display: flex;
    flex-direction: column;
}
.question {
    display: none;
}
.result {
    display: none;
}
#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
#img2, #img3 {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
#icecream2, #icecream3 {
    display: inline-block;
}
.logo {
    width: 200px;
    margin: 50px auto;
}
.deco {
    margin: 0 auto;
    animation: width 5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes width {
    from{
        width: 0;
    }
    to{
        width: 30%;
    }
}
.icecream img{
    width: 65px;
}
.icecream img:nth-child(1){
    animation: up-down 0.3s infinite ease-in-out alternate;
}
.icecream img:nth-child(2){
    animation: up-down 0.4s infinite ease-in-out alternate;
}
.icecream img:nth-child(3){
    animation: up-down 0.5s infinite ease-in-out alternate;
}
.icecream img:nth-child(4){
    animation: up-down 0.6s infinite ease-in-out alternate;
}
.icecream img:nth-child(5){
    animation: up-down 0.7s infinite ease-in-out alternate;
}
@keyframes up-down {
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(-20px);
    }
}
.main-title {
    font-size: 14px;
    color: #483834;
    padding: 20px;
}
.sub-title {
    font-size: 36px;
    font-weight: 700;
    color: #483834;
    margin: 0;
}
.btn-start, .btn-again {
    width: 500px;
    height: 100px;
    font-size: 16px;
    color: #F09CBE;
    background-color: #483834;
    border: #483834;
}
.btn-start:hover, .btn-again:hover {
    color: #F09CBE;
    background-color: #312a29;
}
.start-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-content {
    font-size: 24px;
    width: 600px;
    padding: 50px;
    margin: 0 auto;
    color: #483834;
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #F09CBE; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  @keyframes spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
.btn-answer, .btn-answer:focus {
    border: 3px solid #483834;
    background-color: rgb(255, 214, 224);
    width: 450px;
    margin: 10px auto;
    font-size: 20px;
    color: #483834;
    outline: none;
    box-shadow: none;
}
.btn-answer:hover {
    background-color: #483834;
    border: #483834;
    width: 450px;
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
}
.progress-bar {
    background-color: #F09CBE;
    width: 400px;
}
.progress {
    background-color: #525764;
    width: 400px;
    margin: 0 auto;
}
.zigzag {
    width: 700px;
    margin: 0 auto;
}
.result-message {
    color: #483834;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 100;
}
.result-icecream {
    width: 600px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    color: #483834;
}
.friend-icecream {
    font-size: 16px;
    font-weight: 600;
}
.result-explain {
    margin: 0 auto;
    font-size: 24px;
    line-height: 2;
    font-weight: normal;
    color: #483834;
}
.share {
    margin: 20px auto;
}